# API and Scraping Notebook: Extracting Twitter, Crypto, and Stock Data via Yahoo Finance API and Snscrape

To be able to analyze whether Elon Musk's tweets in 2021 has moved the crypto and stock market (tsla stock) or affected their prices, twitter data from his account @elonmusk and crypto and stock data, specifically bitcoin, dogecoin, and tsla stock will have to be collected via Snscrape and Yahoo Finance API.

This notebook is used to collect the abovementioned data. 

**The sections of the notebook are as follows:**
1. Notebook introduction (this part)
2. Data dictionary
3. Twitter data
4. Yahoo finance data

**The general flow of the data collection are as follows:**
1. Necessary imports and installations for the API/Scraper are done.
2. Data is pulled from the API/Scraper and placed in a Panda dataframe.
3. Data is checked and organized (if applicable).
4. Data is exported to a json file.
5. The json file is checked if it can be read and opened via pandas.

The json files generated from this notebook will be used in the Exploratory Data Analysis (EDA) notebook.

# Data Dictionary

## Twitter Data
| Field Name | Data Type | Data Format | Description | Example |
| :-: | :-: | :-: | :-: | :-: |
| Datetime | Date/Time | YYYY-MM-DD HR:MIN:SEC +TZONE | The date and time the tweet was published | 2022-06-21 22:33:11+00:00 |
| Tweet ID | Integer | NNNN | This is the unique value given to a certain tweet. All objects on twitter, user, tweets, direct messages, and lists have their own unique ID | 1539375908800368641 |
| Text | String | 'ssss' | This is the tweet itself, containing the text or image that Elon publishes | @BenSullins We need a UI overhaul |
| Like count | Integer | NNNN | This is the amount of likes that each given tweet receives | 8217 |
| Retweet count | Integer | NNNN | This is the amount of retweets that each given tweet receives | 975 |
| Reply count | Integer | NNNN | This is the amount of retweets that each given tweet receives | 1045 |

The data is collected by time period and a total of 3113 rows and 6 columns are in the 2021 Elon Musk Tweets data. The dataframe uses integer indices.

## Yahoo Finance - BTC, DOGE, TSLA
| Field Name | Data Type | Data Format | Description | Example |
| :-: | :-: | :-: | :-: | :-: |
| Open | Float | FFF.FFFFFF | The opening price of the stock/crypto on a certain day; the price where it started trading that day | 719.460022 |
| High | Float | FFF.FFFFFF | The highest price of the stock/crypto on a certain day | 744.489990 |
| Low | Float | FFF.FFFFFF | The lowest price of the stock/crypto on a certain day | 717.190002 |
| Close | Float | FFF.FFFFFF | The opening price of the stock/crypto that certain day; the price where it started trading that day | 729.770020 |
| Volume | Integer | NNNN | The closing price of the stock/crypto on a certain day; the price where it ended trading that day | 48638200 |

The data is collected by time period and a total of 365 rows and 5 columns are in the Btc, Doge, and Tsla data each. The dataframe uses datetime indices.

# Tweet Scraper
## Prescraping process
Install snscrape first.

`pip install git+https://github.com/JustAnotherArchivist/snscrape.git`

Then import necessary packages.

In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

The package `snscrape` is a package for scraping social media sites, at the moment snscrape can scrape data from: Facebook, Instagram, Matsodon, Reddit, Telegram, Twitter, VK, and Weibo. The author of the package is `JustAnotherArchivist`.

## Pulling and Appending Data

In [2]:
def tweetsToDF(user, num_tweets):
    tweets_list = []
    username = 'from:' + user

    # Using TwitterSearchScraper to scrape data
    for i, tweet in enumerate(sntwitter.TwitterSearchScraper(username).get_items()):
        if i >= num_tweets: 
            break
        tweets_list.append([tweet.date, tweet.id, tweet.content, tweet.likeCount, tweet.retweetCount, tweet.replyCount]) #declare the attributes to be returned

    # Creating a dataframe from the tweets 
    return pd.DataFrame(tweets_list, columns=['Datetime', 'Tweet Id', 'Text', 'LikeCount', 'RetweetCount', 'ReplyCount'])

In [3]:
elonMuskTweetsDF = tweetsToDF('elonmusk', 5100)

/var/folders/b5/583sbyw12yqf8bss252d8ndc0000gn/T/ipykernel_10757/2877392558.py:9: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.id, tweet.content, tweet.likeCount, tweet.retweetCount, tweet.replyCount]) #declare the attributes to be returned

`TwitterSearchScraper` was used to scrape Twitter data of `@elonmusk` and append tweets to the list. The `tweetsToDF` function converts tweets into a dataframe where its parameters are the twitter username, and the number of tweets.

In [4]:
elonMuskTweetsDF

,Datetime,Tweet Id,Text,LikeCount,RetweetCount,ReplyCount
0,2022-07-05 14:00:21+00:00,1544320280247549954,@TonyadeVitti @historydefined His success was ...,376,34,164
1,2022-07-05 13:46:20+00:00,1544316752657629189,@historydefined While bleak posts maybe genera...,6557,421,780
2,2022-07-05 09:20:24+00:00,1544249828900847617,@PPathole @archillect There is so much actual ...,2655,203,346
3,2022-07-05 09:17:43+00:00,1544249150996463619,"@itsALLrisky Yeah, they’re going way too far i...",2940,216,233
4,2022-07-05 09:15:13+00:00,1544248524023422976,"@WorldAndScience I’m pro-nuclear, but chart is...",9930,661,787
...,...,...,...,...,...,...
5096,2020-12-30 18:07:31+00:00,1344344378974720000,@RationalEtienne @biogirl09 @ErcXspace Legs wo...,2891,146,132
5097,2020-12-30 18:00:33+00:00,1344342626539954176,@flcnhvy @ErcXspace Yes,1497,35,59
5098,2020-12-30 18:00:26+00:00,1344342598694047744,@flcnhvy @ErcXspace Saves mass &amp; cost of l...,4797,212,174
5099,2020-12-30 17:01:28+00:00,1344327757916868608,@ErcXspace We’re going to try to catch the Sup...,9507,732,873
5100,2020-12-30 09:51:07+00:00,1344219458324160512,Snake-head dog had my undivided attention unti...,95578,4074,2555

## Check the data's data types

In [5]:
elonMuskTweetsDF.dtypes

Datetime        datetime64[ns, UTC]
Tweet Id                      int64
Text                         object
LikeCount                     int64
RetweetCount                  int64
ReplyCount                    int64
dtype: object

## Organizing Data

### Changing the orientation of the date from oldest to newest

In [6]:
#To reverse the order of the row - from 2020 to 2022
elonMuskTweetsDF = elonMuskTweetsDF.sort_values('Datetime')

In [7]:
elonMuskTweetsDF

,Datetime,Tweet Id,Text,LikeCount,RetweetCount,ReplyCount
5100,2020-12-30 09:51:07+00:00,1344219458324160512,Snake-head dog had my undivided attention unti...,95578,4074,2555
5099,2020-12-30 17:01:28+00:00,1344327757916868608,@ErcXspace We’re going to try to catch the Sup...,9507,732,873
5098,2020-12-30 18:00:26+00:00,1344342598694047744,@flcnhvy @ErcXspace Saves mass &amp; cost of l...,4797,212,174
5097,2020-12-30 18:00:33+00:00,1344342626539954176,@flcnhvy @ErcXspace Yes,1497,35,59
5096,2020-12-30 18:07:31+00:00,1344344378974720000,@RationalEtienne @biogirl09 @ErcXspace Legs wo...,2891,146,132
...,...,...,...,...,...,...
4,2022-07-05 09:15:13+00:00,1544248524023422976,"@WorldAndScience I’m pro-nuclear, but chart is...",9930,661,787
3,2022-07-05 09:17:43+00:00,1544249150996463619,"@itsALLrisky Yeah, they’re going way too far i...",2940,216,233
2,2022-07-05 09:20:24+00:00,1544249828900847617,@PPathole @archillect There is so much actual ...,2655,203,346
1,2022-07-05 13:46:20+00:00,1544316752657629189,@historydefined While bleak posts maybe genera...,6557,421,780
0,2022-07-05 14:00:21+00:00,1544320280247549954,@TonyadeVitti @historydefined His success was ...,376,34,164

### Filtering tweets not from 2021

In [8]:
# Select tweets from 2021 only
muskTweets2021DF = elonMuskTweetsDF[elonMuskTweetsDF['Datetime'].dt.year == 2021].reset_index(drop=True)

For this project, the group will only be selecting tweets from 2021. So Elon Musk's tweets from other years (e.g., 2020 and 2022) have to be filtered.

In [9]:
muskTweets2021DF

,Datetime,Tweet Id,Text,LikeCount,RetweetCount,ReplyCount
0,2021-01-01 00:58:30+00:00,1344810193952014336,"@PPathole Dojo isn’t needed, but will make sel...",3497,211,215
1,2021-01-02 03:20:48+00:00,1345208391958888448,@comma_ai Tesla Full Self-Driving will work at...,19989,883,646
2,2021-01-02 12:23:28+00:00,1345344958710992897,"@newscientist Um, we have giant fusion reactor...",50843,2242,1827
3,2021-01-02 14:51:49+00:00,1345382294966571008,So proud of the Tesla team for achieving this ...,105840,5912,3974
4,2021-01-02 14:59:09+00:00,1345384139969552389,@flcnhvy Tesla is responsible for 2/3 of all t...,12725,650,624
...,...,...,...,...,...,...
3108,2021-12-30 18:23:14+00:00,1476619907076923398,@BLKMDL3 @mims Predicting macroeconomics is ch...,6633,1611,733
3109,2021-12-30 20:28:51+00:00,1476651519986614281,@CSmithson80 @heydave7 @BLKMDL3 @mims This cha...,2488,139,238
3110,2021-12-30 20:47:53+00:00,1476656306610216960,@tesla_raj Many UI improvements coming,12002,425,980
3111,2021-12-30 21:11:23+00:00,1476662222617251846,@roshanpateI 🤣 $7,13207,355,764
3112,2021-12-31 02:23:58+00:00,1476740887543791617,@TheBabylonBee 🤣,21516,711,1001

## Save to JSON
The filtered 2021 tweets will be saved as a JSON file for the Exploratory Data Analysis part of the study.

In [10]:
muskTweets2021DF.to_json('2021 Elon Musk Tweets.json', orient='columns')

## Check if the JSON file can be read and opened by Pandas

In [11]:
pd.read_json('2021 Elon Musk Tweets.json')

,Datetime,Tweet Id,Text,LikeCount,RetweetCount,ReplyCount
0,2021-01-01 00:58:30,1344810193952014336,"@PPathole Dojo isn’t needed, but will make sel...",3497,211,215
1,2021-01-02 03:20:48,1345208391958888448,@comma_ai Tesla Full Self-Driving will work at...,19989,883,646
2,2021-01-02 12:23:28,1345344958710992897,"@newscientist Um, we have giant fusion reactor...",50843,2242,1827
3,2021-01-02 14:51:49,1345382294966571008,So proud of the Tesla team for achieving this ...,105840,5912,3974
4,2021-01-02 14:59:09,1345384139969552389,@flcnhvy Tesla is responsible for 2/3 of all t...,12725,650,624
...,...,...,...,...,...,...
3108,2021-12-30 18:23:14,1476619907076923398,@BLKMDL3 @mims Predicting macroeconomics is ch...,6633,1611,733
3109,2021-12-30 20:28:51,1476651519986614281,@CSmithson80 @heydave7 @BLKMDL3 @mims This cha...,2488,139,238
3110,2021-12-30 20:47:53,1476656306610216960,@tesla_raj Many UI improvements coming,12002,425,980
3111,2021-12-30 21:11:23,1476662222617251846,@roshanpateI 🤣 $7,13207,355,764
3112,2021-12-31 02:23:58,1476740887543791617,@TheBabylonBee 🤣,21516,711,1001

# Yahoo Finance - collecting and anayzing stock market data

To collect stock market and crypto data, we will be using `yfinance api` to collect from Yahoo Finance.

Make sure to install yfinance first.

```pip install yfinance --upgrade --no-cache-dir```

## Collecting stock market data of Bitcoin, Dogecoin, and Tesla from the yf API

In [12]:
import yfinance as yf

We will use the `TSLA`, `DOGE-USD`, and `BTC-USD` tickers to store the crypto and stock's data.

In [13]:
tsla = yf.Ticker("TSLA")
doge = yf.Ticker("DOGE-USD")
btc = yf.Ticker("BTC-USD")

Once the info is retrieved, convert it to a dataframe format; select the intended date range with `.history(start = 'start date', end = 'end date'`.

In [14]:
dfTsla = tsla.history(start="2021-01-02", end="2022-01-01")
dfDoge = doge.history(start="2021-01-02", end="2022-01-01")
dfBtc = btc.history(start="2021-01-02", end="2022-01-01")

## Check the data

In [15]:
dfTsla

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-01-04,719.460022,744.489990,717.190002,729.770020,48638200,0,0
2021-01-05,723.659973,740.840027,719.200012,735.109985,32245200,0,0
2021-01-06,758.489990,774.000000,749.099976,755.979980,44700000,0,0
2021-01-07,777.630005,816.989990,775.200012,816.039978,51498900,0,0
2021-01-08,856.000000,884.489990,838.390015,880.020020,75055500,0,0
...,...,...,...,...,...,...,...
2021-12-27,1073.670044,1117.000000,1070.719971,1093.939941,23715300,0,0
2021-12-28,1109.489990,1119.000000,1078.420044,1088.469971,20108000,0,0
2021-12-29,1098.640015,1104.000000,1064.140015,1086.189941,18718000,0,0
2021-12-30,1061.329956,1095.550049,1053.150024,1070.339966,15680300,0,0
2021-12-31,1073.439941,1082.000000,1054.589966,1056.780029,13577900,0,0

In [16]:
dfDoge

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-01-01,0.004681,0.005685,0.004615,0.005685,228961515,0,0
2021-01-02,0.005686,0.013698,0.005584,0.010615,3421562680,0,0
2021-01-03,0.010602,0.013867,0.009409,0.009771,2707003608,0,0
2021-01-04,0.009785,0.011421,0.007878,0.009767,1372398979,0,0
2021-01-05,0.009767,0.010219,0.008972,0.009920,687256067,0,0
...,...,...,...,...,...,...,...
2021-12-27,0.189986,0.192923,0.187239,0.187705,666773423,0,0
2021-12-28,0.187847,0.187885,0.172738,0.174117,954075337,0,0
2021-12-29,0.174095,0.177339,0.166760,0.167765,823628336,0,0
2021-12-30,0.168137,0.175771,0.165381,0.171313,599236772,0,0
2021-12-31,0.171317,0.175294,0.167307,0.170496,644416694,0,0

In [17]:
dfBtc

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-01-01,28994.009766,29600.626953,28803.585938,29374.152344,40730301359,0,0
2021-01-02,29376.455078,33155.117188,29091.181641,32127.267578,67865420765,0,0
2021-01-03,32129.408203,34608.558594,32052.316406,32782.023438,78665235202,0,0
2021-01-04,32810.949219,33440.218750,28722.755859,31971.914062,81163475344,0,0
2021-01-05,31977.041016,34437.589844,30221.187500,33992.429688,67547324782,0,0
...,...,...,...,...,...,...,...
2021-12-27,50802.609375,51956.328125,50499.468750,50640.417969,24324345758,0,0
2021-12-28,50679.859375,50679.859375,47414.210938,47588.855469,33430376883,0,0
2021-12-29,47623.871094,48119.742188,46201.496094,46444.710938,30049226299,0,0
2021-12-30,46490.605469,47879.964844,46060.312500,47178.125000,26686491018,0,0
2021-12-31,47169.371094,48472.527344,45819.953125,46306.445312,36974172400,0,0

## Remove unnecessary data

Since the dividends and stock splits look like they're all composed of zeroes, let's confirm by getting their means.

In [18]:
Dividends = []

Dividends.append(dfTsla['Dividends'].mean())
Dividends.append(dfBtc['Dividends'].mean())
Dividends.append(dfDoge['Dividends'].mean())

Dividends

[0.0, 0.0, 0.0]

In [19]:
StockSplits = []

StockSplits.append(dfTsla['Stock Splits'].mean())
StockSplits.append(dfBtc['Stock Splits'].mean())
StockSplits.append(dfDoge['Stock Splits'].mean())

StockSplits

[0.0, 0.0, 0.0]

Since we don't need dividends and stock splits and we have proven that their values are all 0, we will remove them from the three dataframes of btc, doge, and tsla.

In [21]:
dfTsla = dfTsla.drop(columns=['Dividends','Stock Splits'])
dfBtc = dfBtc.drop(columns=['Dividends','Stock Splits'])
dfDoge = dfDoge.drop(columns=['Dividends','Stock Splits'])

## Check the data's datatypes
Since the three dataframes have the same columns and rows, we can just look at one of their data types.

In [22]:
dfTsla.dtypes

Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object

## Save to JSON
Save the dataframes to json files.

In [23]:
dfTsla.to_json('tslaInfo.json')
dfDoge.to_json('dogeInfo.json')
dfBtc.to_json('btcInfo.json')

## Check if the json files can be read and opened by pandas

In [24]:
pd.read_json('btcInfo.json')

,Open,High,Low,Close,Volume
2021-01-01,28994.009766,29600.626953,28803.585938,29374.152344,40730301359
2021-01-02,29376.455078,33155.117188,29091.181641,32127.267578,67865420765
2021-01-03,32129.408203,34608.558594,32052.316406,32782.023438,78665235202
2021-01-04,32810.949219,33440.218750,28722.755859,31971.914062,81163475344
2021-01-05,31977.041016,34437.589844,30221.187500,33992.429688,67547324782
...,...,...,...,...,...
2021-12-27,50802.609375,51956.328125,50499.468750,50640.417969,24324345758
2021-12-28,50679.859375,50679.859375,47414.210938,47588.855469,33430376883
2021-12-29,47623.871094,48119.742188,46201.496094,46444.710938,30049226299
2021-12-30,46490.605469,47879.964844,46060.312500,47178.125000,26686491018
2021-12-31,47169.371094,48472.527344,45819.953125,46306.445312,36974172400

In [25]:
pd.read_json('dogeInfo.json')

                Open      High       Low     Close      Volume
2021-01-01  0.004681  0.005685  0.004615  0.005685   228961515
2021-01-02  0.005686  0.013698  0.005584  0.010615  3421562680
2021-01-03  0.010602  0.013867  0.009409  0.009771  2707003608
2021-01-04  0.009785  0.011421  0.007878  0.009767  1372398979
2021-01-05  0.009767  0.010219  0.008972  0.009920   687256067
...              ...       ...       ...       ...         ...
2021-12-27  0.189986  0.192923  0.187239  0.187705   666773423
2021-12-28  0.187847  0.187885  0.172738  0.174117   954075337
2021-12-29  0.174095  0.177339  0.166760  0.167765   823628336
2021-12-30  0.168137  0.175771  0.165381  0.171313   599236772
2021-12-31  0.171317  0.175294  0.167307  0.170496   644416694

[365 rows x 5 columns]

In [26]:
pd.read_json('tslaInfo.json')

                   Open         High          Low        Close    Volume
2021-01-04   719.460022   744.489990   717.190002   729.770020  48638200
2021-01-05   723.659973   740.840027   719.200012   735.109985  32245200
2021-01-06   758.489990   774.000000   749.099976   755.979980  44700000
2021-01-07   777.630005   816.989990   775.200012   816.039978  51498900
2021-01-08   856.000000   884.489990   838.390015   880.020020  75055500
...                 ...          ...          ...          ...       ...
2021-12-27  1073.670044  1117.000000  1070.719971  1093.939941  23715300
2021-12-28  1109.489990  1119.000000  1078.420044  1088.469971  20108000
2021-12-29  1098.640015  1104.000000  1064.140015  1086.189941  18718000
2021-12-30  1061.329956  1095.550049  1053.150024  1070.339966  15680300
2021-12-31  1073.439941  1082.000000  1054.589966  1056.780029  13577900

[252 rows x 5 columns]